<div ng-include = "'./components/includes/_header.html'"></div>
<section class="row">
  <div class="container">
    <div class="col-md-4">
      <form ng-submit="vm.iniciarSesion(vm.usuario)">
        <div class="form-group">
          <label for="exampleInputEmail1">Correo electrónico</label>
          <input type="email" class="form-control" ng-model="vm.usuario.correo" id="exampleInputEmail1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">Este campo es requerido</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" class="form-control" ng-model="vm.usuario.contrasenna" id="exampleInputPassword1" aria-describedby="passwordHelp">
          <small id="passwordHelp" class="form-text text-muted">Este campo es requerido</small>
        </div>
        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
      </form>
    </div>
  </div>
</section>
<div ng-include="'./components/includes/_footer.html'"></div>