<div ng-include="'./components/includes/_header.html'"></div>
<div class="row w-100">
  <div class="col-md-12 mt-5">
    <!-- <h1>Bienvenido {{vm.usuarioActivo}}</h1> -->
    <h2>Listar usuarios</h2>
    <table class="table mt-5">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Primer apellido</th>
          <th>Segundo apellido</th>
          <th>Cédula</th>
          <th>Fecha</th>
          <th>Genero</th>
          <th>Foto</th>
          <th>Ubicación</th>
          <th>Cantón</th>
          <th>Distrito</th>
          <th>Usuario</th>
          <th>Correo</th>
          <th>Contraseña</th>
          <th>Agregar Difunto</th>
          <th>Modificar</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="usuario in vm.listarUsuarios">
          <td>{{usuario.nombre}}</td>
          <td>{{usuario.primerApellido}}</td>
          <td>{{usuario.segundoApellido}}</td>
          <td>{{usuario.cedula}}</td>
          <td>{{usuario.fecha}}</td>
          <td>{{usuario.genero}}</td>
          <td>{{usuario.foto}}</td>
          <td>{{usuario.ubicacion}}</td>
          <td>{{usuario.canton}}</td>
          <td>{{usuario.distrito}}</td>
          <td>{{usuario.usuario}}</td>
          <td>{{usuario.correo}}</td>
          <td>{{usuario.contrasenna}}</td>
          <td>
            <button class="btn btn-primary" type="button" ng-click="vm.agregarDifunto(usuario)">Agregar Difunto</button>
          </td>
          <td>
            <button class="btn btn-warning" type="button" ng-click="">Editar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>