<div>.</div>
<div ng-include="'./components/includes/_header.html'"></div>
<section class="row">
  <div class="container">
    <form class="row" name="frmRegistroFiesta" ng-submit="vm.registrarFiesta(vm.FiestaNueva)"  autocomplete="off">
    <div class="col-4">
      <form ng-submit="vm.registrarFiesta(vm.FiestaNueva)">
          <div class="form-group">
            <label for="txtFecha">Fecha de la fiesta: </label>
            <input type="date" class="form-control" ng-model="vm.FiestaNueva.fecha" id="txtFecha" required>
          </div>
        
        
          <div class="form-group">
            <label for="txtCostoFiesta">Cantidad de horas de las fiesta:</label>
            <input type="number" placeholder="Costo por hora $65" class="numeric" pattern="[0-9]" ng-model="vm.FiestaNueva.costoHora" id="txtCostoFiesta" required>
          </div>

          <div class="form-group">
              <label for="lbPago">Seleccione los animadores: </label><br>
            <label>Pilar (costo por hora $30):
              <input type="checkbox" ng-model="vm.FiestaNueva.pilar"
                     ng-true-value='true' ng-false-value='false'>
             </label><br/>

            <label>Andrey (costo por hora $25):
              <input type="checkbox" ng-model="vm.FiestaNueva.andrey"
                     ng-true-value='true' ng-false-value='false'>
             </label><br/>
          </div>
          <div class="form-group">
          <div class="metodoPagoFiesta">
            <label for="lbPago">Seleccione la forma de pago: </label>
            
            <select ng-model="vm.FiestaNueva.tipoPagoFiesta" >
              <option value="tarjeta">Tarjeta</option>
              <option  value="efectivo">Efectivo</option>
            </select>
         
          </div>
        </div>
        
          <button type="submit" class="btn btn-primary">Registrar Fiesta</button>
      </form>

      <div>
        <p>ffff{{vm.mostrarInfo}}</p>
      </div>
    </div>


    <!-- <div class="col-12">
      <table class="table">
        <thead>
            <tr>
              <th>Código</th>
              <th>Nombre</th>
              <th>Costo</th>
            </tr>
        </thead>
        <tbody>
          <tr ng-repeat="fiesta in vm.listaFiestas">
            <td>{{fiesta.fecha}}</td>
            <td>{{fiesta.costoHora}}</td>
            <td>
              <button type="button" class="btn btn-secondary" ng-click="vm.editarFiesta(fiesta)">Editar fiesta</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div> -->

</section>




