<div>

  <form ng-submit="vm.modificarRetoque(vm.retoqueModificado)">

      <p><span>Previo nombre:</span> {{vm.retoqueoriginal.nombre}}</p>
      <label for="">Nombre del nuevo retoque</label>
      <input type="text" ng-model="vm.retoqueModificado.nombre">

      <p><span>Previo precio:</span> {{vm.retoqueoriginal.precio}}</p>
      <label for="">Precio del nuevo retoque</label>
      <input type="number" ng-model="vm.retoqueModificado.precio">

      <button type="submit">Aceptar</button>

  </form>
  
</div>