<div>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Modificar</th>
        <th>Eliminar</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="retoques in vm.listaRetoques">
        <td>{{retoques.nombre}}</td>
        <td>{{retoques.precio}}</td>
        <td>
          <input type="submit" value="Modificar">
        </td>
        <td>
          <input type="submit" value="Eliminar">
        </td>
      </tr>
    </tbody>
  </table>
</div>