<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Modificar</th>
        <th>Eliminar</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="retoques in vm.listaRetoques">
        <td>{{retoques.nombre}}</td>
        <td>₡{{retoques.precio}}</td>
        <td>
          <button class="btn btn-primary" type="button" ng-click="vm.modificarRetoque (retoques)">Modificar</button>
        </td>
        <td>
          <button class="btn btn-danger" type="button" ng-click="vm.eliminarRetoque (retoques)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <button class="btn btn-success" ng-click="vm.agregarRetoque ()">Agregar retoque</button>

</div>